@font-face {font-family: "iconfont";
  src: url('../font3/iconfont.eot?t=1605004546872'); /* IE9 */
  src: url('../font3/iconfont.eot?t=1605004546872#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABlQAAAJKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgbwE2AiQDCAsGAAQgBYRtBy0bkgXILrBteJNAXZMhQgBcfx5iLCAe/tuPdt/MrImkPRtF84In1RI+UaxCFiuBFIiimfyX1jRfYiFTkGVZxWOF/iH3wPmU3NDpKTU3uwm3BnBktgbKuBqtJi43eKp+AfjE/eRfQAPJ5wvHLuqiagqb7cYDGmgHrsk2kpFPQXZHoJZ8nkCrSUPa0cXdI1QUzrRAPHBtHSolv6JIqWahsWVtES81aE6PUngRfz/+2YgKSUPm5J28tbNg+RNXMFd15UKuBAh0cwMy1oFCnG2NH8sLiZXXGi+YBcfKDn5S16FNHNUspL/OyWwH41TyTFJf9qipBI8lQdonJz2TGL/dePOh+rjQzL36+OTzWL75/vPDT4uN/OtPjz8M/6i6j4Nj56WKqFurSr9jD6CWz+dBQ/DtAz/u2vpvBXydKfbWCpgTNO/LEfwTKdhSTLljTUWXtvYm4+eqatWKOu7u9TfVMHAD6dBsYIKzyUSOrNk8UZh1NGiziUbNdtFqzeXmNn1YXpQWrPokCN2+kHT6gqzbN1GYXzQY9I9G3ZFHq/PRt2ebxXBrh0y6kIXGGV0zjpRnl1qSfU/2PtC5KI/Zz8SZG8LZeFpNXVJEvMSC7GDPRRQqjkO8IJdREMSYcOyRKWNHJFlMJqrtTWMzDqHmECM6QSzIcIZcplhEhf1Frfb5e8S2F9BxT1ND/BlhGXd4NDM2BYhLTQQ1Pco1mQPbnBAKUlgshC7IKBIIxFDSPspDTGLMmRBNLEzcTgrVjLfXhX93AFo5xhRuUZavWhYA') format('woff2'),
  url('../font3/iconfont.woff?t=1605004546872') format('woff'),
  url('../font3/iconfont.ttf?t=1605004546872') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font3/iconfont.svg?t=1605004546872#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e602";
}

