html,body{
    height: 100%;
}
.container{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.line{
    position: relative;
}
.line::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 50px;
    background:#E8E8E8 ;
}
#header{
    height:118px ;
}
#header .container{   
    padding: 32px 0;
}
.logo{
    width: 255px;
    height: 52px;
    background: url(../img/logo\ \(2\).png) no-repeat 0 0;
    text-indent: -9999px;
    float: left;
}
#header span{
    display: block;
    float: left;
    margin: 0 16px;
}
.header_txt{
    float: left;
    margin-left: 32px;
}
.header_txt h3{
    font-size: 24px;
    color: #F98000;
}
.header_r{
    font-size: 16px;
    float: right;
}
.header_r span{
    display: block;
    width: 54px;
    height: 52px;
    background: url(../img/logo\ \(2\).png) no-repeat -272px 0;
}
.header_r p{
    display: block;
    width: 132px;
    height: 21px;
    background: url(../img/logo\ \(2\).png) no-repeat 0 -65px;
    margin-left: 84px;
}
#nav{
    height: 48px;
    background: #00659D;
}
#nav ul li{
    width: 120px;
    text-align: center;
    float: left;
    position: relative;
}
#nav ul li a{
    color: #fff;
    line-height: 48px;
}
#nav ul li span{
    color: #fff;
    position: absolute;
    top: 14px;
    right: 0;
}
#banner{
    height: 480px;
    background: #E9E9E9;
}
.banner_l{
    width: 292px;
    height: 346px;
    background: url(../img/logo\ \(2\).png) no-repeat -325px 0;
}