html,body{
    height: 100%;
}
#main{ 
    height: calc(100% - .51rem);
    overflow-y: auto;
    overflow-x: hidden;
}
#warp{
    height: 100%;
    position: relative;
    background: #F1F1F1;
}
.banner{
    width: 3.75rem;
    height: 1.75rem;
}
.banner>a>img{
    width: 100%;
    height: 100%;
}
.header{
    height: .4rem;
    position: absolute;
    top: .1rem;
    left: 0;
    right: 0;
    padding: 0 .15rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.header>a{
    font-size: .2rem;
    color: #fff; 
    line-height: .3rem;
}
.header>b{
    width: .06rem;
    height: .06rem;
    background: #FF7569;
    border-radius: 50%;
    position: absolute;
    top: .02rem;
    right: .14rem;
}
.header>form{
    width: 2.58rem;
    height: .3rem;
    position: relative;
}
.header>form>input{
    width: 2.58rem;
    height: .3rem;
    border: none;
    background: rgba(255,255,255,0.3);
    border-radius: .15rem;
    text-indent: .1rem;
}
.header>form>input::-webkit-input-placeholder{
    text-align: center;
}                         
.header>form>i{
    font-size: 12px;
    position: absolute;
    top: .1rem;
    left: .46rem ;
}
.header>form:hover i{
    opacity: 0;
}
.menu_wrap{
    height: 2.03rem;
    text-align: center;
    background: #fff;
}
.menu{
    height: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu a{
    width: 25%;
    color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.menu a span {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: #35E4BD;
    align-self: center;
}
.menu a:nth-child(2) span{
    background:#FD7B6B ;
}
.menu a:nth-child(3) span{
    background:#FDC13C ;
}
.menu a:nth-child(4) span{
    background:#40DCF5 ;
}
.menu a:nth-child(5) span{
    background:#40DCF5 ;
}
.menu a:nth-child(6) span{
    background:#FA6850 ;
}
.menu a:nth-child(7) span{
    background:#FDC13C ;
}
.menu a:nth-child(8) span{
    background:#35E4BD ;
}
.menu a span i{
    font-size: .2rem;
    line-height: .4rem;
    color: #fff;
    align-self: center;
}
.menu_wrap .dian2{
    display: inline-block;
    width: .07rem;
    height: .07rem;
    border-radius: 50%;
    background: #F2F2F2;
}
.menu_wrap .dian2:hover{
    background: #63DEAF;
}
.menu_list{
    height: .8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .1rem;
    background: #fff;
}
.menu_list a{
    width:calc(33% - .18rem);
    display: flex;
    font-size: .12rem;
    color: #444;
    line-height: .38rem;
    padding-left: .18rem;
}
.menu_list a:nth-child(1){
    border: .01rem solid #D3D3D3;
    border-left: none;
    border-right: none;
}
.menu_list a:nth-child(2){
    border: .01rem solid #D3D3D3;
}
.menu_list a:nth-child(3){
    border: .01rem solid #D3D3D3;
    border-left: none;
    border-right: none;
}
.menu_list a:nth-child(4){
    border-right: .01rem solid #D3D3D3;
}
.menu_list a:nth-child(5){
    border-right: .01rem solid #D3D3D3;
}

.menu_list a>i{
    font-size: .16rem;
    color: #47CB99;
}
.hot{
    height: .45rem;
    line-height: .25rem;
    background: #fff;
    color: #a7a7a7;
    margin-bottom:.1rem ;
}
.hot a{
    display: inline-block;
    width: 1rem;
    height: .24rem;
    border-radius: .12rem;
    text-align: center;
    border: .01rem solid #D3D3D3;
    color: #757575;
    margin: .1rem 0;
}
.act{
    height: .82rem;
    display: flex;
}
.act>a:nth-child(1)>img{
    width: 1.24rem;
    border-right: .01rem solid #EEEEEE;
}
.act>a:nth-child(2)>img{
    width: 2.5rem;
}








#footer{
    height: .5rem;
    background: #fff;
    border-top:.01rem solid #C3C3C3;
    display: flex;
    justify-content: space-around;
}
#footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .1rem;
    color:#7D7D7D ;
}
#footer a i{
    font-size: .2rem;
    font-weight: bold;
    align-self: center;
    color: #6B6B6B;
}
#footer a:hover{
    color: #3CCA9A;
}
#footer a:hover i{
    color: #3CCA9A;
}