html,body{
    height:100%;
}
#main{
    height:calc(100% - .52rem) ;
    background: #F6F6F6;
}
.header{
    height: 2.98rem;
}
.banner{
    height: 1.9rem;
    position: relative;
}
.banner a img{
    width: 100%;
    height: 100%;
}
.banner i{
    font-size: .2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
}
.tu1{
    top: .1rem;
    left: .1rem;
}
.tu2{
    top: .1rem;
    right: .1rem;
}
.txt{
    font-size: .12rem;
    color: #fff;
    position: absolute;
    bottom: .1rem;
    left: .1rem;
}
.txt2{
    height: 1.08rem;
    padding: 0 .15rem;
    margin-bottom:.14rem ;
    background: #fff;
}
.txt2 a{
    font-size: .16rem;
    font-weight: bold;
    color: #000;
}
.txt2 p{
    margin-top: .16rem;
    display: flex;
    justify-content: space-between;
}
.txt2 p .txt2_span01{
    font-size: .2rem;
    color: #FF7367;
    font-weight: bold;
} 
.txt2 p span{
    font-size: .12rem;
    color: #D3D3D3;
    font-weight:normal;
}
.txt2_span02{
   align-self: flex-end;
}
.txt2_span02 span{
    margin-left:.16rm ;
}
.time{
    height: .98rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: .08rem .15rem 0;
    margin-bottom: .14rem;
}
.time .a_span01{
    font-size: .16rem;
    line-height: .38rem;
    font-weight: bold;
    color: #565656;
}
.time .a_span01 i{
    font-size: .16rem;
    color: #08C281;
    margin-right: .15rem;
}
.time .a_span02{
    font-size: .12rem;
    color: #A6A6A6;
    display: flex;
    justify-content: space-between;
}
.time p{
    height: .26rem;
    line-height: .26rem;
    background: #FFF9F9;
    font-size: .12rem;
    color: #FF6968;
}
.server{
    height: .45rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: .15rem;
    margin-bottom: .14rem;
}
.box{
    display: flex;
}
.server .server_txt h3{
    font-size: .16rem;
    font-weight: bold;
    color: #000;
}
.server img{
    width: .62rem;
    height: .45rem;
    border: .01rem solid #999;
    margin-right: .08rem;
}
.server_txt p{
    font-size: .12rem;
    color: #B9B9B9;
}
.server_txt p i{
    color: #54D2A2;
}
.server span{
    width: .35rem;
    height: .35rem;
    background: #54D2A2;
    border-radius: 50%;
    text-align: center;
    line-height: .35rem;
}
.server span i{
    color: #fff;
}
.case{
    height:.24rem ;
    border-top: .02rem solid #57C59E;
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-bottom: .01rem solid #ccc;
}
.case a{
    text-align: center;
    width: 30%;
    color: #ccc;
}
.case a:hover{
    color: #57C59E;
    border-bottom: .02rem solid #57C59E;
}


#footer{
    height: .52rem;
    background:#707070 ;
    display: flex;
    line-height: .52rem;justify-content: space-between;
}
#footer span a{
    color: #fff;
    margin:0 .15rem;
}
#footer span a i{
    margin: 0 .04rem;
}
#footer>a{
    font-size: .18rem;
    color: #fff;
    width: 1.25rem;
    height: .52rem;
    background:#FF7367;
    text-align: center;
}