html,body{
    height: 100%;
}
#main{
    height: calc(100% - .51rem);
    background: #eee;
}
.wrap{
    height: 2.25rem;
    background: #37A065;
}
#header{
    height: 1.74rem;
    display: flex;
}
#header>a{
    height: .65rem;
    width: .65rem;
    border:.05rem solid #6BAC84;
    border-radius: 50%;
    background: #DEDEDE;
    text-align: center;
    align-self: center;
    margin-left: .28rem;
}
#header>a>i{
    font-size: .6rem;
    color: #fff; 
}
#header>p{
    margin-left: .18rem;
    align-self: center;;
}
#header>p>a{
    font-size: .16rem;
    color: #fff;
} 
#header>span{   
    align-self: flex-end;
    margin-bottom: .08rem;
}
#header>span>a{
    color: #fff;
}
.list{
    height: .5rem;
    display: flex;
    justify-content: space-evenly;
    background: #3B9154;
    border-bottom:.01rem solid #458C60;
}
.list>a{
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .14rem;
    color: #fff;
    line-height: .22rem;
    margin-top: .08rem;
}
.line{
    position: relative;
}
.line::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: .01rem;
    height: .32rem;
    background: rgba(255,255,255,.3);
}
.post{
    height: 1.11rem;
    margin-top: .12rem;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.post>p{
    display: flex;
    justify-content: space-between;
    font-size: .14rem;
    line-height: .4rem;
    color:#9F9F9F ;
    padding: 0 .14rem;
    border-bottom: .01rem solid #EAEAEA;
}
.post>p>a{
    color: #4FB590;
}
.post>span{
    height: .68rem;
    display: flex;
    justify-content: space-around;
    padding: .15rem 0;
}
.post>span>a{
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
}
.post>span>a>i{
    align-self: center;
    font-size: .24rem;
    font-weight: bold;
    color: #4B4B4B;
}
.myset{
    height: 1.93rem;
    margin-top: .12rem;
    background: #fff;
}
.myset li{
    height: .64rem;
    line-height: .64rem;
    display: flex;
}
.myset li>i{
    font-size: .18rem;
    color: #BCBCBC;
    margin: 0 .12rem;
}
.myset li>span{
    width: calc(100% - .6rem);
    display: flex;
    justify-content: space-between;
}
.myset li>span>a{
    color:  #3D3D3D;
}
#footer{
    height: .5rem;
    background: #fff;
    border-top:.01rem solid #C3C3C3;
    display: flex;
    justify-content: space-around;
}
#footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .1rem;
    color:#7D7D7D ;
}
#footer a i{
    font-size: .2rem;
    font-weight: bold;
    align-self: center;
    color: #6B6B6B;
}
#footer a:hover{
    color: #3CCA9A;
}
#footer a:hover i{
    color: #3CCA9A;
}